link(rel="stylesheet" href="/styles/bootstrap.min.css")
link(rel="stylesheet" href="/styles/tractive_styles.css")


nav.navbar.navbar-default(style="background: red")
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        | tracktive
